.visualDiv {
    background-color: rgb(160, 93, 11);
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    padding: 30px;
}


.visualDiv div {
    background-color: antiquewhite;
    height: 300px;
    width: 500px;
}