.dice-component {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}


.dice-roller {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: aliceblue;
  width: 100px;
  padding: 10px;
  border-radius: 10px;
}

.dice-text {
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  font-weight: 600;
}

.die {
  width: 80px;
  height: 80px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  font-weight: bold;
  border-radius: 10px;
  background-color: #f0f0f0;
  transition: transform 0.1s ease-in-out;
}

.dice-score{
  width: 180px;
}

.die.rolling {
  animation: shake 0.5s infinite alternate;
}

.dice-score-div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dice-score-text {
  font-size: 30px;
  font-weight: 900;
  color: aliceblue;
}

@keyframes shake {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

button {
  padding: 10px 20px;
  font-size: 1.2em;
  font-family: 'Courier New', Courier, monospace;
  cursor: pointer;
  font-weight: 600;
  border-radius: 10px;
  border: 3px dotted black;
  background-color: aliceblue;
}
