.game-div {
    background-color: darkcyan;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

.goal {
    background-color: azure;
    flex: 3;
}

.totalScores {
    background-color: antiquewhite;
    flex: 3;
}

.attempts {
    flex: 2;
    background-color: rgb(255, 230, 255);
}

.dice-roll {
    flex: 1;
}



.hello {
    background-color: blue;
}