.landing {
    display: flex;
    padding: 30px;
    height: 700px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: aliceblue;
}

.landing img {
    width: 400px;
    border-radius: 50%;
    transition: transform 0.5s ease, text-shadow 0.5s ease;
}

.landing img:hover {
    width: 400px;
    transform: scale(1.05) rotate(25deg); 
    border: 10px solid black;
}
.logo {
    display: flex;
    align-items: center;
    gap: 5px;
    transition: transform 0.3s ease, text-shadow 0.3s ease;
    cursor: default;
}

.logo:hover {
    transform: scale(1.1);
    color: white;
    text-shadow: 0 0 8px #00f, 0 0 12px #0ff; 
    cursor: pointer; 
}

.logo-image {
    height: 70px;
    border-radius: 50%;
    background-color: aquamarine;
}
.desc{
    width: 500px;
    font-size: 24px;
}


button:hover {
  transform: scale(1.1);
  background-color: crimson;
  color: aliceblue;
  text-shadow: 0 0 8px rgb(1, 1, 22), 0 0 12px rgb(2, 29, 29); 
}
