.navbar {
    background-color: rgb(196, 207, 255);
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    gap: 5px;
}
.logo-image {
    height: 70px;
    border-radius: 50%;
    background-color: aquamarine;
}
.logo-text {
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    font-weight: 900;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.start-playing {
    border: 5px dashed black;
    border-radius: 15%;
    height: 40px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    background-color: rgb(63, 4, 68);
    color: white
}

.stats {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    border: 5px dotted black;
    background-color: darksalmon;
    height: 50px;
    width: 400px;
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.game-stat {
    font-size: 26px;
    font-weight: 900;
}

.stat-numbers {
    font-size: 18px;
}

.stat-numbers div {
    margin: 5px;
    background-color: aquamarine;
    padding: 5px;
    border-radius: 5px;
    width: 200px;
}

.stat-numbers span {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    color: crimson;
}


.login-out {
    height: 60px;
    width: 100px;
    border-radius: 10px;
    background-color: beige;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    align-items: center;
}

.dp {
    border-radius: 50%;
    height: 50px;
    background-color: darkcyan;
}

.player-name {
    font-size: 20px;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
}

