/* .gameOver {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 100%;
    color: aliceblue;
    background-color: blueviolet;
} */

.gameOver{
    background-color: rgb(212, 140, 140);
    padding: 30px;
}


.title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
}

.points {
    margin: 30px;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.points div{
    padding: 10px;
    border-radius: 8px;
    background-color: aliceblue;
}

.description {
    margin: 20px;
    font-size: 36px;
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.gameOver img{
    height: 300px;
    border: 5px dashed black;
    border-radius: 50%;
}