
.scores {
    border: 5px solid black;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.goal {
    background-color: azure;
    flex: 3;
}

.totalScore {
    background-color: antiquewhite;
    flex: 3;
}

.attempts {
    flex: 2;
    background-color: rgb(255, 230, 255);
}

.dice-roll {
    flex: 1;
}

.title{
    font-size: 30px;
    font-weight: 600;
}

.numbers {
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    text-shadow: 5px 5px 10px black;
    border-radius: 50%;
    border: 5px solid black;
    background-color: aliceblue;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

